<!-- expert_list.html -->
{% extends 'base.html' %}

{% block content %}
<h1>{{ field_name }} Experts</h1>

<div class="center-content">
    {% if profiles %}
        {% for profile in profiles %}
            <div class="expert-list-item">
                <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                <p>Link: <a href="{% url 'profile_page' profile.id %}">@{{ profile.user.username }}</a></p>
            </div>
        {% endfor %}
    {% else %}
        <p>No experts found in this field.</p>
    {% endif %}
</div>
{% endblock %}
