{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-picture">
            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="profile-img">
            {% endif %}
        </div>
        <div class="profile-info">
            <h1 class="profile-name">
                {{ profile.first_name|capfirst }} {{ profile.last_name|capfirst }}
                {% if profile.has_phd and profile.has_masters %}
                    (MS/PhD)
                {% elif profile.has_phd %}
                    (PhD)
                {% elif profile.has_masters %}
                    (MS)
                {% endif %}
            </h1>

            {% if profile.user.is_expert %}
                <p class="profile-academic-field">Academic Field: {{ profile.get_academic_field_display }}</p>
                <p class="profile-academic-field">Years of Experience: {{ profile.years_of_experience }}</p>
            {% endif %}
        </div>
    </div>

    <div class="profile-content">
        <div class="profile-bio">{{ profile.bio|linebreaksbr }}</div>
        <div class="profile-social-links">
            {% if profile.github_url or profile.linkedin_url %}
                <h3>Links</h3>
                {% if profile.github_url %}
                    <a href="{{ profile.github_url }}" class="social-link">Github</a>
                {% endif %}
                {% if profile.linkedin_url %}
                    <a href="{{ profile.linkedin_url }}" class="social-link">LinkedIn</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="profile-actions">
            <a href="{% url 'user_blogs' %}?author={{ profile.id }}" class="action-button">Blogs</a>
            <a href="{% url 'user_debates' %}?author={{ profile.id }}" class="action-button">Debates</a>
            <form method="post" class="follow-form">
                {% csrf_token %}
                {% if profile in user.profile.follows.all %}
                    <button class="follow-button" name="follow" value="unfollow" type="submit">Unfollow</button>
                {% else %}
                    <button class="follow-button" name="follow" value="follow" type="submit">Follow</button>
                {% endif %}
            </form>
            <a href="{% url 'message' receiver_id=profile.user.id %}" class="message-button">Message</a>
        </div>
        <div class="profile-network">
            <h3>Followers</h3>
            {% for follower in profile.followed_by.all %}
                <a href="{% url 'profile_page' follower.user.profile.id %}" class="network-link">
                    {{ follower.first_name }} {{ follower.last_name }}
                </a><br>
            {% endfor %}
            <h3>Follows</h3>
            {% for follow in profile.follows.all %}
                <a href="{% url 'profile_page' follow.user.profile.id %}" class="network-link">{{ follow.first_name }} {{ follow.last_name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
