{% extends "base.html" %}
{% block content %}
<h1>tech Debates</h1>

    {% for debate in debate_list %}
<h1>ONE</h1>
        {% if debate.category == "field5" %}
<h1>TWO</h1>
        <div id="debate_list">
            <div id="debate">
                <strong><h2><a href="{% url 'debate_detail' debate.pk %}">{{ debate.title }}</a></h2></strong>
                <h3>
                    Author: {{ debate.author }}<br>
                    Opponent: {{ debate.opponent }}<br>
                    Created: {{ debate.created }}
                </h3>
                    <!--<h3>Category: {{ debate.category.category }}</h3>-->
                </br>
            </div>
        </div>
        <br>
{% endif %}
{% endfor %}
{% endblock %}