<!-- debate_list.html -->
{% extends "base.html" %}
{% block content %}
<h1>{{ category_name }} Debates</h1>

{% for debate in object_list %}
    <div id="debate_list">
        <div id="debate">
            <strong><h2><a href="{% url 'debate_detail' debate.pk %}">{{ debate.title }}</a></h2></strong>
            <h3>
                Author: {{ debate.author_profile.first_name }} {{ debate.author_profile.last_name }}<br>
                Opponent: {{ debate.opponent.first_name }} {{ debate.opponent.last_name }}<br>
                Created: {{ debate.created }}
            </h3>
        </div>
    </div>
    <br>
{% endfor %}
{% endblock %}
