{% extends "base.html" %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

{% if page_obj %}
<div id="item-count" data-total-items="{{ total_items }}"></div>

<div id="note_wrapper">
<div id="note_list">
{% for item in page_obj %}

    {% if item.type == 'blog' %}
        <!-- Render blog post summary -->
        <div class="item-div">
            <div class="item-pic">
                {% if item.profile_picture %}
                    <img src="{{ item.profile_picture }}" alt="Profile Picture">
                {% endif %}
            </div>
            <h2><a href="{{ item.get_absolute_url }}">New Blog: {{ item.title }}</a><h4>&nbsp;&nbsp;(posted {{item.created}})</h4></h2>

        </div>
    {% elif item.type == 'debate' %}
        <div class="item-div">
            <div class="item-pic">
                {% if item.profile_picture %}
                    <img src="{{ item.profile_picture }}" alt="Profile Picture">
                {% endif %}
            </div>
            <h2><a href="{{ item.get_absolute_url }}">New Debate: {{ item.title }}</a><h4>&nbsp;&nbsp;(posted {{item.created}})</h4></h2>

        </div>
    {% elif item.type == 'note' %}
        <div class="item-div">
            <div class="item-pic">
                {% if item.profile_picture %}
                    <img src="{{ item.profile_picture }}" alt="Profile Picture">
                {% endif %}
            </div>
            <div class="item-text">
                <strong>{{ item.first_name|capfirst }} {{ item.last_name|capfirst }}: "{{item.body|ljust:10|striptags|safe|urlize}}"</strong>
                <br>
                (posted {{item.created}})
                <br>
                {% if request.user.username == item.username %}
                    <a href="{% url 'delete_note' item.id %}" class="edit-delete-button">Delete</a>
                    <a href="{% url 'edit_note' item.id %}" class="edit-delete-button">Edit</a>
                {% endif %}
            </div>
        </div>

    {% endif %}


{% endfor %}
        </div>
</div>
<div id="homepage-pages">
{% if page_obj.has_other_pages %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

    </div>
{% endif %}
</div>
{% else %}
<div id="not-following">
    <h2>It looks like you aren't following anyone. Search people to follow:</h2><br>
    <a href="{% url 'expert_list_by_field' 'field1' %}" class="expert-link" style="position: relative; display: inline-block;">
        <img src="{% static 'econ-img.jpg' %}" alt="Economics Experts" style="width: 100%; display: block;">
        <span style="position: absolute; bottom: 10px; left: 0; width: 100%; text-align: center; color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.5);">Economics Experts</span>
    </a>
    <br>
    <a href="{% url 'expert_list_by_field' 'field2' %}" class="expert-link" style="position: relative; display: inline-block;">
        <img src="{% static 'econ-img.jpg' %}" alt="Finance Experts" style="width: 100%; display: block;">
        <span style="position: absolute; bottom: 10px; left: 0; width: 100%; text-align: center; color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.5);">Finance Experts</span>
    </a>
    <br>
    <a href="{% url 'expert_list_by_field' 'field3' %}" class="expert-link" style="position: relative; display: inline-block;">
        <img src="{% static 'econ-img.jpg' %}" alt="Legal Experts" style="width: 100%; display: block;">
        <span style="position: absolute; bottom: 10px; left: 0; width: 100%; text-align: center; color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.5);">Legal Experts</span>
    </a>
    <br>
    <a href="{% url 'expert_list_by_field' 'field4' %}" class="expert-link" style="position: relative; display: inline-block;">
        <img src="{% static 'econ-img.jpg' %}" alt="Medical Experts" style="width: 100%; display: block;">
        <span style="position: absolute; bottom: 10px; left: 0; width: 100%; text-align: center; color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.5);">Medical Experts</span>
    </a>
    <br>
    <a href="{% url 'expert_list_by_field' 'field5' %}" class="expert-link" style="position: relative; display: inline-block;">
        <img src="{% static 'econ-img.jpg' %}" alt="Technology Experts" style="width: 100%; display: block;">
        <span style="position: absolute; bottom: 10px; left: 0; width: 100%; text-align: center; color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.5);">Tech Experts</span>
    </a>
</div>
{% endif %}
</div>
</div>

{% else %}
<div id="welcome_div"><h2>Welcome to Expert Echo!</h2></div>
<div id="welcome_p_div">



</div>
{% endif %}
<script>
var currentPage = 1;
let isLoading = false;  // Define isLoading
// Create a single, reusable event handler
const handleScroll = () => {
    console.log('Scrolling...');
    if (window.innerHeight + window.pageYOffset >= document.body.offsetHeight - 10 && !isLoading) {
        console.log('Near bottom, should load more notes.');
        loadMoreNotes();
    }
};

// Register the scroll event listener
document.addEventListener("DOMContentLoaded", function() {
    // Access total items from the data attribute
    const totalItems = parseInt(document.getElementById('item-count').getAttribute('data-total-items'), 10);

    console.log("Total items:", totalItems);

    if (totalItems <= 10) {
        console.log('Total items are 10 or less. No need for more loads.');
        // You might want to hide some UI elements or disable scrolling functionality here
    } else {
        // Attach your scroll event listener here if more items are possible
        window.addEventListener('scroll', handleScroll);
    }
});

function loadMoreNotes() {
    if (isLoading) {
        return; // Already loading, do not proceed
    }
    isLoading = true; // Set loading to true
    console.log(`Attempting to load page ${currentPage + 1}`);

    fetch(`/?page=${currentPage + 1}`, {
        headers: { 'X-Requested-With': 'XMLHttpRequest' }
    })
    .then(response => response.json())
    .then(data => {
        console.log('DATA RECEIVED:', data);
        console.log("DATA.ITEMS BEFORE =", data.items);
        console.log("DATA.ITEMS.LENGTH BEFORE=", data.items.length);
        console.log("HAS NEXT?", data.has_next);
        if (data.items.length > 0) {
            appendNotes(data.items);
        }

        if (!data.has_next) {
            console.log('No more pages to load or not enough items on the last page.');
            window.removeEventListener('scroll', handleScroll); // Stop further loading
            document.getElementById('homepage-pages').style.display = 'none';
        }

        currentPage++; // Adjust this to increment only when appropriate
        isLoading = false; // Reset loading flag after processing is complete
    })
    .catch(error => {
        console.error('Error loading more notes:', error);
        isLoading = false; // Ensure flag is reset even in case of error
    });
}


function appendNotes(items) {
    const container = document.getElementById('note_list');
    console.log('appendNotes');
    items.forEach(item => {
        const noteElement = document.createElement('div');
        noteElement.className = 'item-div';

        let picHTML = '';
        if (item.profile_picture) {
            picHTML = `<div class="item-pic">
                           <img src="${item.profile_picture}" alt="Profile Picture">
                       </div>`;
        }

        let contentHTML = '';
        if (item.type === 'note') {
            contentHTML = `
                ${picHTML}
                <div class="item-text">
                    <strong>${item.first_name} ${item.last_name}: "${item.body}"</strong>
                    <br>
                    (posted ${item.created})
                </div>
            `;
        } else if (item.type === 'blog' || item.type === 'debate') {
            contentHTML = `
                ${picHTML}
                <h2><a href="${item.url}">New ${item.type.charAt(0).toUpperCase() + item.type.slice(1)}: ${item.title}</a><h4>&nbsp;&nbsp;(posted ${item.created})</h4></h2>
            `;
        }

        noteElement.innerHTML = contentHTML;
        container.appendChild(noteElement);
    });
}


</script>
{% endblock %}