{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="side-bar">
        <div class="menu">

{% if user.is_authenticated %}
    <div id="overlay" style="display:none;"></div>

    <!-- Button to open the note form -->
    <div class="button-container">
        <button id="open_note_form">Post a Note</button>
    </div>


    <!-- Form container -->
    <div id="note_form_container" style="display:none;">
        <div id="home_note">
            {% if form %}
                <form method="POST" action="{% url 'home' %}" style="border: none;">
                    {% csrf_token %}
                    <div id="home_submit">
                        {{ form.as_p }}
                    </div>
                    <div id="home_submit_btn_div">
                        <button type="submit" id="home_submit_btn">Post Note</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="item">
        {% if user.profile.id %}
            <a class="sub-btn" href="#">
                <i class="fas fa-calculator"></i>Account<i class="fas fa-angle-right dropdown"></i>
            </a>
            <div class="sub-menu">
                <a href="{% url 'profile_page' user.profile.id %}">Profile</a>
                <a href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile</a>
                <a href="{% url 'edit_settings' %}">Edit Settings</a>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'conversation_list' %}">View Conversations</a>
                {% if user.is_expert %}
                    <a href="{% url 'create_post' %}">Write Blog</a>
                    <a href="#">blog drafts</a>
                    <a href="{% url 'start_debate' %}">Create Debate</a>
                    <a href="{% url 'create_poll' %}">Create Poll</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="item">
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}



           <div class="item">
                   <a href="{% url 'about' %}">About Site</a>

               <h3 id="content-label">Content</h3>

                <a class="sub-btn" href="#">
                    <i class="fas fa-calculator"></i>Economics<i class="fas fa-angle-right dropdown"></i>
                </a>
                <div class="sub-menu">
                    <a href="{% url 'blog_list_by_category' 'field1' %}">Blogs</a>
                    <a href="{% url 'debate_list_by_category' 'field1' %}">Debates</a>
                    <a href="{% url 'poll_list_by_category' 'field1' %}">Polls</a>
                    <a href="{% url 'expert_list_by_field' 'field1' %}">Experts</a>
                </div>
            </div>
            <div class="item">
                <a class="sub-btn" href="#">
                    <i class="fas fa-calculator"></i>Finance<i class="fas fa-angle-right dropdown"></i>
                </a>
                <div class="sub-menu">
                    <a href="{% url 'blog_list_by_category' 'field2' %}">Blogs</a>
                    <a href="{% url 'debate_list_by_category' 'field2' %}">Debates</a>
                    <a href="{% url 'poll_list_by_category' 'field2' %}">Polls</a>
                    <a href="{% url 'expert_list_by_field' 'field2' %}">Experts</a>
                </div>
            </div>
            <div class="item">
                <a class="sub-btn" href="#">
                    <i class="fas fa-calculator"></i>Law<i class="fas fa-angle-right dropdown"></i>
                </a>
                <div class="sub-menu">
                    <a href="{% url 'blog_list_by_category' 'field3' %}">Blogs</a>
                    <a href="{% url 'debate_list_by_category' 'field3' %}">Debates</a>
                    <a href="{% url 'poll_list_by_category' 'field3' %}">Polls</a>
                    <a href="{% url 'expert_list_by_field' 'field3' %}">Experts</a>
                </div>
            </div>
                        <div class="item">
                <a class="sub-btn" href="#">
                    <i class="fas fa-calculator"></i>Medicine<i class="fas fa-angle-right dropdown"></i>
                </a>
                <div class="sub-menu">
                    <a href="{% url 'blog_list_by_category' 'field4' %}">Blogs</a>
                    <a href="{% url 'debate_list_by_category' 'field4' %}">Debates</a>
                    <a href="{% url 'poll_list_by_category' 'field4' %}">Polls</a>
                    <a href="{% url 'expert_list_by_field' 'field4' %}">Experts</a>
                </div>
            </div>
            <div class="item">
                <a class="sub-btn" href="#">
                    <i class="fas fa-calculator"></i>Technology<i class="fas fa-angle-right dropdown"></i>
                </a>
                <div class="sub-menu">
                    <a href="{% url 'blog_list_by_category' 'field5' %}">Blogs</a>
                    <a href="{% url 'debate_list_by_category' 'field5' %}">Debates</a>
                    <a href="{% url 'poll_list_by_category' 'field5' %}">Polls</a>
                    <a href="{% url 'expert_list_by_field' 'field5' %}">Experts</a>
                </div>
            </div>

        </div>
    </div>

    <div class="side-bar2">
        <div class="menu">
                    <!-- Sidebar Blogs -->
        <div class="item">
            {% for blog in sidebar_blogs %}
                <a href="{{ blog.get_absolute_url }}" class="sub-item">{{ blog.title }}</a>
            {% empty %}
                <p class="sub-item">No new blogs</p>
            {% endfor %}
        </div>

        <!-- Sidebar Debates -->
        <div class="item">

            {% for debate in sidebar_debates %}
                <a href="{{ debate.get_absolute_url }}" class="sub-item">{{ debate.title }}</a>
            {% empty %}
                <p class="sub-item">No new debates</p>
            {% endfor %}
        </div>
        </div>
    </div>

<a href="{% url 'home' %}">
    <div class="container">
        <img src="{% static 'banner.webp' %}" alt="banner">
        <div class="centered">Expert Echo</div>
    </div>
</a>

    {% block content %}
    {% endblock %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sub-btn').click(function(){
                $(this).next('.sub-menu').slideToggle();
                $(this).find('.dropdown').toggleClass('rotate');
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        // Open the note form
        $("#open_note_form").click(function() {
            $("#overlay").show();
            $("#note_form_container").show();
        });

        // Listen for the form's submit event
        $("form").submit(function(e) {
            // Hide the form and overlay. The form will continue submitting.
            $("#note_form_container").hide();
            $("#overlay").hide();
        });

        // Optionally, close the form when the overlay is clicked
        $("#overlay").click(function() {
            $("#note_form_container").hide();
            $(this).hide();
        });
    });
    </script>
</body>
</html>