{% extends "base.html" %}
{% load static %}
{% block title %}blog entry{% endblock %}
{% block content %}
    <div id="blog_box">
        <div id="blog_body">
            <br/>
            {% if user.is_authenticated %}
                {% if user.id == post.author_profile.user.id %}
                    <div id="edit_delete">
                        <a href="{% url 'update_post' post.pk %}">
                            <strong><h2>Edit</h2></strong>
                        </a>
                        <a href="{% url 'delete_post' post.pk %}">
                            <strong><h2>Delete</h2></strong>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            <br/>

            <h1>{{ post.title }}</h1>
            <p class="date">
                Published {{ post.publish }} by
                <a href="{% url 'profile_page' post.author_profile.id %}">
                    {{ post.author_profile.first_name|capfirst }} {{ post.author_profile.last_name|capfirst }}
                </a>

            </p>

            <br/>

            {{ post.body|ljust:10|striptags|safe|linebreaksbr }}
        </div>
    </div>
{% endblock %}
