<!-- blog_list.html -->
{% extends "base.html" %}
{% block content %}
<h1>{{ category_name }} blogs</h1>  <!-- Display the category dynamically -->

{% for post in post_list %}
    <div id="blog_list">
        <div id="blog">
            <strong><h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2></strong>
            <h3>
                Author: {{ post.author_profile.first_name }} {{ post.author_profile.last_name }}<br>
            </h3>
        </div>
    </div>
    <br>
{% endfor %}
{% endblock %}