{% extends "base.html" %}
{% block title %}update post{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author_profile.user.id %}
        <h1>Edit Post</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button>Submit</button>
        </form>
    {% else %}
        <h1>You are not authorized to edit/delete this post!</h1>
    {% endif %}
{% else %}
    <h1>You are not authorized to edit/delete this post!</h1>
{% endif %}
{% endblock %}
