{% extends "MainApp/base.html" %}
{% block content %}
<h1>Philosophy Polls</h1>
<br>
<div>
    {% for poll in object_list %}
        {% if poll.category|lower == "philosophy" %}
            <div id="poll_list_item">
                    {% if request.user.profile.academic_field|lower == poll.category|lower %}
                        <strong><h2><a href="{% url 'poll_details' poll.pk %}">{{ poll.title }}</a></h2></strong><br>
                        <h3>Created: {{ poll.published }}</h3>
                    {% else %}
                        <strong><h2><a href="{% url 'results' poll.id %}">{{ poll.title }}</a></h2></strong>
                        <h3>Created: {{ poll.published }}</h3>
                    {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}